
<main>
  <% @videos.each do |video| %>
    <article>
      <h4><%= link_to video.title, video.youtube_link %></h4>
      <iframe class="video-embed" src="<%= video.embed_link %>" frameborder="0" allowfullscreen></iframe>
      <div class="controls">
        <span><%= link_to "Edit", "/videos/#{video.id}/edit" %></span>
        <span><%= link_to "Remove", "/videos/#{video.id}", method: "DELETE" %></span>
      </div>
    </article>
  <% end %>
</main>
